.footer {
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .footer_social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer_social_media__icon {
    margin: 0px 4px;
    width: 25px;
    height: 25px;
  }
  
  .footer_info  {
    display: flex;
    justify-content: center;
  }
  
  .footer_info_left, .footer_info_center, .footer_info_right {
    font-size: x-small;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;
  }
  
  .footer_info__name, .footer_info__email, .footer_info__number {
    margin-bottom: 10px;
  }
  
  .footer_info__name, .footer_info__returns {
    text-align: start;
  }
  
  .footer_info__email, .footer_info__terms {
    text-align: center;
  }
  
  .footer_info__number, .footer_info__contact {
    text-align: end;
  }
  
  .footer_date {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer_seperator {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
  }
  
  .footer_name {
    display: flex;
    justify-content: center;
  }
  
  .footer_bottom__name {
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: large;
    margin: 0px 20px;
  }