.footer_background{
box-sizing: border-box;
background-color: rgb(185, 185, 185);
margin: 0;
padding: 0;
height: 100%;
overflow: auto;
}

.footer_container{
  margin: 2% 10% 5% 10%;
  height: fit-content;
  
}

.footer_grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 5%;
}

.navbar_footer{
  margin-left: -32px;
}

.left{
  text-align: left;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.left_hide{
  text-align: left;
}

.center_hide{
  text-align: center;
}

.right_hide{
  text-align: right;
}

@media (max-width: 1000px) {
  .footer_container{
    margin: 2% 5% 5% 5%;
  }
}

@media (max-width: 800px) {
  .footer_container{
    margin: 2% 2% 5% 2%;
    font-size: 12px;;
  }
}

@media (max-width: 500px) {
  .footer_container{
    margin: 2% 2% 5% 2%;
    font-size: 14px;;
  }
  .footer_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar_footer{
    margin-left: -12px;
    
  }
  .left_hide{
    display: none;
  }
  
  .center_hide{
    display: none;
  }
  
  .right_hide{
    display: none;
  }
}