@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: flex-start;
    padding: 0px 3.5px;
  }
  
  .button {
    font-family: "Space Mono";
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 0 2rem;
    font-size: 1.3rem;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
    text-shadow: 1px 1px rgb(141, 139, 139);
   

  }

  /* GENERAL BUTTON STYLING */
.button,
.button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}



.button:hover {
  color: rgb(100, 79, 79);
  background-color: rgba(228, 217, 214, 0.15);
  border-radius: 15%;
  border: 1.5px solid rgb(100, 79, 79);
  border-radius: 2px;
}



.button::after {
  color: rgb(100, 79, 79);
  background-color: rgba(228, 217, 214, 0.15);
  border: 1.5px solid rgb(100, 79, 79);
  border-radius: 2px;
  border-radius: 15%;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.button:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

@media (max-width: 480px) {

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    padding: 0;
  }
  .button {
    font-family: "Space Mono";
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
    font-size: 1.3rem;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
    text-shadow: 1px 1px rgb(141, 139, 139);
  }


}
