*{
    box-sizing: border-box;
    
}

html 
{
 overflow: auto;
 
}

.header_navbar_two {
    display: flex;
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 0px 3.5px;
      background-color: #f7f1f0;
  }


.projects_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='2700' preserveAspectRatio='none' viewBox='0 0 2000 2700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1454%26quot%3b)' fill='none'%3e%3cpath d='M952.468%2c1527.17C1038.582%2c1532.01%2c1112.547%2c1471.414%2c1155.568%2c1396.66C1198.476%2c1322.103%2c1210.048%2c1230.005%2c1166.014%2c1156.108C1122.868%2c1083.701%2c1036.617%2c1050.998%2c952.468%2c1055.823C876.274%2c1060.192%2c812.82%2c1110.728%2c777.502%2c1178.383C744.828%2c1240.974%2c753.745%2c1312.744%2c785.404%2c1375.854C821.512%2c1447.834%2c872.066%2c1522.651%2c952.468%2c1527.17' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1063.37 24.26 a414.48 414.48 0 1 0 828.96 0 a414.48 414.48 0 1 0 -828.96 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1078.59 2289.37 a336.96 336.96 0 1 0 673.92 0 a336.96 336.96 0 1 0 -673.92 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M185.27 915.44 a542.67 542.67 0 1 0 1085.34 0 a542.67 542.67 0 1 0 -1085.34 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1188.464%2c1910.51C1265.853%2c1911.761%2c1333.02%2c1860.307%2c1370.038%2c1792.334C1405.435%2c1727.337%2c1402.535%2c1649.368%2c1365.612%2c1585.226C1328.603%2c1520.934%2c1262.629%2c1478.549%2c1188.464%2c1476.903C1111.335%2c1475.191%2c1034.55%2c1509.571%2c997.148%2c1577.046C960.689%2c1642.819%2c979.361%2c1721.393%2c1016.784%2c1786.622C1054.424%2c1852.229%2c1112.836%2c1909.287%2c1188.464%2c1910.51' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M588.82 805.15 a480.58 480.58 0 1 0 961.16 0 a480.58 480.58 0 1 0 -961.16 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1454'%3e%3crect width='2000' height='2700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
}
.content_wrapper{
    margin: 0 0 6rem 0;
}

.projects_intro_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 3% 3%;
    
}

.projects_top_text_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    text-shadow: 7px 7px rgb(160, 139, 139);
}

.img_wrapper{
    display: flex;
    width: 300px;
    height: 300px;
    margin-right: 5%;

}

.img{
    background-image: url('../media/cyclops.png');
    background-size: cover;
    width: 300px;
    height: 300px;
}

.projects_h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    letter-spacing: .6rem;
    color: #d8c7bf;
}

.projects_h3 {
    display: flex;
    justify-content: space-between;
    margin-right: 1.2rem;
    font-size: 1.5rem;
}


.projects_text {
    font-family: monospace, serif; 
    font-size: 1.1rem; 
    text-shadow: .8px .8px rgb(141, 135, 135);

}

.project_text_container{
    padding: 3%;
}

.projects_text_container1{
    width: 600px;
    padding: 3%;
    
}

.projects_text_container2{
    width: 600px;
    padding: 3%;
    
}

.project_one_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 3%;
    background-color: #2a373a;
}

.project_two_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 3%;
    background-color: #2a373a;
    
    
}

.project_one_outer_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw
    
}

.project_two_outer_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;

}

.project_one_inner_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    

}

.project_two_inner_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    

}

.project_two_iframe_wrapper{
  flex: 0 0 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

}

.project_two_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; 
  overflow-y: auto; 
   overflow-x: hidden;

}

@media (max-width: 1024px) {
    .projects_wrapper{  
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1024' height='3500' preserveAspectRatio='none' viewBox='0 0 1024 3500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3cpath d='M208.12 1074.78 a339.91 339.91 0 1 0 679.82 0 a339.91 339.91 0 1 0 -679.82 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M507.49 1360.75 a247.59 247.59 0 1 0 495.18 0 a247.59 247.59 0 1 0 -495.18 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M183.22 2628.09 a289.95 289.95 0 1 0 579.9 0 a289.95 289.95 0 1 0 -579.9 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1122.834%2c975.974C1215.884%2c982.586%2c1327.195%2c988.668%2c1375.108%2c908.628C1423.635%2c827.562%2c1366.661%2c731.274%2c1317.674%2c650.486C1271.218%2c573.872%2c1212.364%2c496.085%2c1122.834%2c492.586C1028.497%2c488.899%2c942.779%2c550.143%2c899.699%2c634.15C859.927%2c711.706%2c878.21%2c803.719%2c925.853%2c876.704C968.93%2c942.695%2c1044.226%2c970.388%2c1122.834%2c975.974' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M330.736%2c914.526C368.093%2c914.511%2c407.746%2c901.665%2c424.521%2c868.286C440.22%2c837.049%2c420.532%2c802.629%2c401.812%2c773.104C384.881%2c746.4%2c362.333%2c721.559%2c330.736%2c720.371C297.307%2c719.114%2c267.684%2c739.143%2c249.759%2c767.388C230.271%2c798.096%2c219.282%2c836.501%2c236.818%2c868.364C254.845%2c901.119%2c293.348%2c914.541%2c330.736%2c914.526' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M370.23 1865.88 a252.38 252.38 0 1 0 504.76 0 a252.38 252.38 0 1 0 -504.76 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M649.712%2c376.62C720.964%2c378.39%2c796.738%2c363.788%2c835.519%2c303.988C877.304%2c239.556%2c876.257%2c154.564%2c836.212%2c89.036C797.707%2c26.028%2c723.552%2c-0.544%2c649.712%2c-0.057C576.842%2c0.424%2c503.872%2c28.365%2c467.428%2c91.47C430.978%2c154.586%2c439.978%2c233.727%2c479.235%2c295.137C515.594%2c352.014%2c582.228%2c374.944%2c649.712%2c376.62' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M282.762%2c3088.65C312.179%2c3089.785%2c337.972%2c3070.967%2c353.088%2c3045.705C368.665%2c3019.673%2c375.3%2c2986.68%2c359.141%2c2961.005C343.723%2c2936.506%2c311.704%2c2933.402%2c282.762%2c2933.962C255.103%2c2934.497%2c225.156%2c2939.9%2c211.335%2c2963.864C197.521%2c2987.815%2c207.514%2c3016.621%2c221.249%2c3040.617C235.101%2c3064.816%2c254.9%2c3087.575%2c282.762%2c3088.65' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1024' height='3500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    }
}

@media (min-width: 880px)
and (max-width: 2500px){
    .content_wrapper{
        margin: 3rem 0 6rem 0;
    }
}

@media (min-width: 651px)
and (max-width: 1200px){
    .projects_wrapper{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1200' height='3750' preserveAspectRatio='none' viewBox='0 0 1200 3750'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1293%26quot%3b)' fill='none'%3e%3cpath d='M1074.191%2c523.574C1159.715%2c524.641%2c1239.664%2c487.674%2c1288.947%2c417.769C1348.178%2c333.753%2c1394.878%2c227.218%2c1347.404%2c136.041C1297.431%2c40.065%2c1182.333%2c1.565%2c1074.191%2c5.319C972.725%2c8.841%2c877.744%2c63.311%2c831.971%2c153.934C789.906%2c237.218%2c817.378%2c334.485%2c868.517%2c412.526C914.287%2c482.373%2c990.69%2c522.533%2c1074.191%2c523.574' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M319.47 3241.68 a375.28 375.28 0 1 0 750.56 0 a375.28 375.28 0 1 0 -750.56 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M680.24 2435.71 a294.08 294.08 0 1 0 588.16 0 a294.08 294.08 0 1 0 -588.16 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M964.049%2c2661.372C1042.743%2c2657.174%2c1107.686%2c2606.352%2c1146.9%2c2537.995C1185.899%2c2470.013%2c1199.041%2c2387.248%2c1160.435%2c2319.042C1121.319%2c2249.934%2c1043.449%2c2213.691%2c964.049%2c2214.943C886.851%2c2216.161%2c819.669%2c2260.005%2c778.107%2c2325.072C732.549%2c2396.395%2c703.018%2c2485.423%2c743.969%2c2559.488C785.893%2c2635.313%2c877.529%2c2665.987%2c964.049%2c2661.372' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M337.284%2c583.726C416.152%2c580.046%2c496.283%2c554.151%2c535.239%2c485.477C573.773%2c417.548%2c557.93%2c333.922%2c516.567%2c267.678C477.793%2c205.58%2c410.418%2c171.763%2c337.284%2c168.443C256.92%2c164.795%2c173.109%2c183.811%2c127.402%2c250.012C75.32%2c325.447%2c55.718%2c427.976%2c104.521%2c505.573C151.222%2c579.828%2c249.659%2c587.814%2c337.284%2c583.726' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1038.774%2c1705.819C1154.991%2c1704.978%2c1234.15%2c1599.562%2c1287.725%2c1496.427C1336.358%2c1402.805%2c1352.845%2c1293.183%2c1300.793%2c1201.418C1248.102%2c1108.527%2c1145.549%2c1055.484%2c1038.774%2c1057.54C935.443%2c1059.529%2c845.307%2c1121.658%2c793.667%2c1211.182C742.064%2c1300.641%2c737.65%2c1407.537%2c783.505%2c1500.074C835.513%2c1605.029%2c921.643%2c1706.666%2c1038.774%2c1705.819' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M287.9 3130.14 a293.37 293.37 0 1 0 586.74 0 a293.37 293.37 0 1 0 -586.74 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1216.841%2c1454.124C1316.726%2c1449.851%2c1396.7%2c1377.573%2c1442.584%2c1288.748C1484.581%2c1207.448%2c1475.595%2c1114.51%2c1434.513%2c1032.743C1387.821%2c939.81%2c1320.576%2c846.902%2c1216.841%2c839.446C1102.485%2c831.227%2c993.058%2c896.843%2c937.27%2c997.005C882.84%2c1094.729%2c896.609%2c1214.178%2c954.972%2c1309.606C1010.725%2c1400.766%2c1110.081%2c1458.691%2c1216.841%2c1454.124' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M906.01 94.57 a236.54 236.54 0 1 0 473.08 0 a236.54 236.54 0 1 0 -473.08 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-38.67 2581.63 a293.19 293.19 0 1 0 586.38 0 a293.19 293.19 0 1 0 -586.38 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1001.743%2c2191.523C1068.417%2c2193.363%2c1132.762%2c2166.388%2c1170.302%2c2111.256C1213.446%2c2047.895%2c1239.303%2c1965.296%2c1200.993%2c1898.901C1162.671%2c1832.486%2c1078.375%2c1816.476%2c1001.743%2c1819.129C930.481%2c1821.596%2c858.958%2c1849.197%2c825.038%2c1911.918C792.423%2c1972.226%2c811.932%2c2044.421%2c848.56%2c2102.379C882.387%2c2155.905%2c938.448%2c2189.777%2c1001.743%2c2191.523' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1293'%3e%3crect width='1200' height='3750' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    }
}


@media (max-width: 650px) {

    .projects_wrapper{ 
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='650' height='3630' preserveAspectRatio='none' viewBox='0 0 650 3630'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1061%26quot%3b)' fill='none'%3e%3cpath d='M307.88 2042.72 a149.77 149.77 0 1 0 299.54 0 a149.77 149.77 0 1 0 -299.54 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M550.177%2c1376.121C622.143%2c1379.867%2c692.821%2c1345.055%2c728.946%2c1282.701C765.157%2c1220.199%2c760.818%2c1141.16%2c721.356%2c1080.658C685.108%2c1025.084%2c616.516%2c1007.367%2c550.177%2c1008.62C486.441%2c1009.824%2c421.851%2c1031.79%2c389.846%2c1086.921C357.729%2c1142.244%2c369.96%2c1209.682%2c400.977%2c1265.629C433.138%2c1323.64%2c483.938%2c1372.673%2c550.177%2c1376.121' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M604.874%2c1403.956C646.9%2c1405.379%2c688.026%2c1384.764%2c708.414%2c1347.987C728.27%2c1312.169%2c718.499%2c1269.869%2c699.243%2c1233.725C678.452%2c1194.699%2c648.992%2c1156.618%2c604.874%2c1153.638C556.312%2c1150.358%2c506.931%2c1175.587%2c485.498%2c1219.287C465.818%2c1259.413%2c488.542%2c1303.832%2c512.804%2c1341.365C534.397%2c1374.768%2c565.123%2c1402.61%2c604.874%2c1403.956' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M162.41 390.15 a163.13 163.13 0 1 0 326.26 0 a163.13 163.13 0 1 0 -326.26 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M497.978%2c3683.419C563.036%2c3686.253%2c626.263%2c3654.245%2c658.962%2c3597.93C691.791%2c3541.391%2c688.57%2c3470.39%2c653.835%2c3415.002C621.105%2c3362.811%2c559.528%2c3338.623%2c497.978%2c3341.23C440.964%2c3343.645%2c391.609%2c3377.683%2c363.426%2c3427.303C335.612%2c3476.272%2c333.392%2c3535.032%2c359.584%2c3584.888C387.812%2c3638.619%2c437.342%2c3680.777%2c497.978%2c3683.419' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M49.06 254.41 a152.35 152.35 0 1 0 304.7 0 a152.35 152.35 0 1 0 -304.7 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M258.138%2c1727.014C296.612%2c1724.381%2c327.359%2c1699.453%2c347.616%2c1666.638C369.218%2c1631.643%2c385.903%2c1588.698%2c365.592%2c1552.939C345.115%2c1516.888%2c299.585%2c1508.039%2c258.138%2c1509.104C218.892%2c1510.112%2c181.519%2c1525.495%2c159.84%2c1558.225C135.523%2c1594.937%2c122.43%2c1642.482%2c144.591%2c1680.534C166.651%2c1718.413%2c214.406%2c1730.007%2c258.138%2c1727.014' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M404.71 2522.31 a124.94 124.94 0 1 0 249.88 0 a124.94 124.94 0 1 0 -249.88 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M244.167%2c2317.354C279.137%2c2317%2c305.228%2c2289.57%2c323.165%2c2259.548C341.716%2c2228.5%2c357.381%2c2190.324%2c338.494%2c2159.479C320.086%2c2129.416%2c279.408%2c2129.707%2c244.167%2c2130.535C210.923%2c2131.316%2c174.864%2c2135.554%2c157.214%2c2163.736C138.71%2c2193.281%2c145.174%2c2230.84%2c162.346%2c2261.178C179.812%2c2292.036%2c208.711%2c2317.713%2c244.167%2c2317.354' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M388.172%2c1348.723C436.539%2c1345.141%2c466.415%2c1299.777%2c487.347%2c1256.027C505%2c1219.13%2c506.031%2c1177.899%2c487.298%2c1141.538C466.658%2c1101.477%2c433.23%2c1064.342%2c388.172%2c1063.531C342.072%2c1062.702%2c306.771%2c1098.549%2c282.67%2c1137.856C257.096%2c1179.565%2c237.92%2c1229.123%2c259.811%2c1272.877C283.645%2c1320.513%2c335.051%2c1352.657%2c388.172%2c1348.723' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M267.544%2c3107.649C298.909%2c3106.776%2c331.933%2c3097.926%2c347.106%2c3070.462C361.917%2c3043.653%2c349.787%2c3012.403%2c334.975%2c2985.595C319.479%2c2957.55%2c299.58%2c2927.019%2c267.544%2c2926.466C234.916%2c2925.902%2c212.524%2c2955.082%2c195.953%2c2983.194C179.025%2c3011.912%2c163.299%2c3046.22%2c179.921%2c3075.116C196.571%2c3104.062%2c234.164%2c3108.578%2c267.544%2c3107.649' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-144.53 2276.09 a177.61 177.61 0 1 0 355.22 0 a177.61 177.61 0 1 0 -355.22 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1061'%3e%3crect width='650' height='3630' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    }

    

    .projects_top_text_container{
        text-shadow: 4px 4px rgb(160, 139, 139);
    }
    
    
    .projects_h1 {
        font-size:4rem;
        letter-spacing: .4rem;
        
    }
    .project_two_container {
        
        width: 90vw;
        height: auto;
        
        
    }
    .project_one_container {
        width: 90vw;

    }

    .projects_text_container1{
        width: 90vw;
        
    }
    
    .projects_text_container2{
        width: 90vw;
    }


}

@media (max-width: 400px) {

    .projects_top_text_container{
        text-shadow: 3.5px 3.5px rgb(160, 139, 139);
    }
    
    
    .projects_h1 {
        font-size:3rem;
        letter-spacing: .3rem;
        
    }

    .projects_intro_container{
        padding: 2% 2%;
        
    }

    .img{
        width: 250px;
        height: 250px;
    }

    .img_wrapper{
        display: flex;
        width: 250px;
        height: 250px;
        margin-right: 0%;

    }
}

@media (max-width: 315px) {
    .projects_top_text_container{
        text-shadow: 3px 3px rgb(160, 139, 139);
    }
    
    
    .projects_h1 {
        font-size:2.5rem;
        letter-spacing: .2rem;
        
    }

}