*{
    box-sizing: border-box;
    
}

html 
{
 overflow: auto;
 
}

.header_navbar_two {
    display: flex;
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 0px 3.5px;
      background-color: #f7f1f0;
  }


.projects_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='3715' preserveAspectRatio='none' viewBox='0 0 2000 3715'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1073%26quot%3b)' fill='none'%3e%3cpath d='M221.764%2c2001.545C301.282%2c2001.072%2c358.223%2c1932.772%2c395.657%2c1862.615C430.509%2c1797.298%2c442.685%2c1720.153%2c406.319%2c1655.666C369.364%2c1590.135%2c296.935%2c1557.31%2c221.764%2c1554.258C140.033%2c1550.939%2c49.889%2c1568.535%2c9.286%2c1639.544C-31.123%2c1710.214%2c3.043%2c1794.499%2c44.251%2c1864.706C84.785%2c1933.764%2c141.69%2c2002.021%2c221.764%2c2001.545' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1042.79 1587.94 a485.15 485.15 0 1 0 970.3 0 a485.15 485.15 0 1 0 -970.3 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M826.62 89.08 a413.83 413.83 0 1 0 827.66 0 a413.83 413.83 0 1 0 -827.66 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-379.77 3467.63 a522.66 522.66 0 1 0 1045.32 0 a522.66 522.66 0 1 0 -1045.32 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1450.377%2c923.817C1541.265%2c927.776%2c1640.879%2c914.413%2c1690.082%2c837.893C1742.453%2c756.446%2c1728.195%2c650.913%2c1679.778%2c567.055C1631.362%2c483.199%2c1546.965%2c415.895%2c1450.377%2c422.725C1361.517%2c429.009%2c1312.182%2c516.947%2c1271.039%2c595.959C1234.058%2c666.978%2c1205.879%2c748.23%2c1244.304%2c818.477C1283.984%2c891.019%2c1367.77%2c920.219%2c1450.377%2c923.817' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-148.74 2791.63 a420.23 420.23 0 1 0 840.46 0 a420.23 420.23 0 1 0 -840.46 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1073'%3e%3crect width='2000' height='3715' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    
}

.projects_intro_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 3% 3%;
    
}

.projects_top_text_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    text-shadow: 7px 7px rgb(160, 139, 139);
}

.img_wrapper{
    display: flex;
    width: 300px;
    height: 300px;
    margin-right: 5%;

}

.img{
    background-image: url('../media/cyclops.png');
    background-size: cover;
    width: 300px;
    height: 300px;
}

.projects_h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    letter-spacing: .6rem;
    color: #d8c7bf;
}

.projects_h3 {
    display: flex;
    justify-content: space-between;
    margin-right: 1.2rem;
    font-size: 1.5rem;
}


.projects_text {
    font-family: monospace, serif; 
    font-size: 1.1rem; 
    text-shadow: .8px .8px rgb(141, 135, 135);

}

.project_text_container{
    padding: 3%;
}

.projects_text_container1{
    width: 600px;
    padding: 3%;
    
}

.projects_text_container2{
    width: 600px;
    padding: 3%;
    
}

.project_one_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 3%;
    background-color: #2a373a;
}

.project_two_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 3%;
    background-color: #2a373a;
    
    
}

.project_one_outer_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw
    
}

.project_two_outer_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;

}

.project_one_inner_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    

}

.project_two_inner_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    

}

.project_two_iframe_wrapper{
  flex: 0 0 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

}

.project_two_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; 
  overflow-y: auto; 
   overflow-x: hidden;

}

@media (max-width: 1024px) {
    .projects_wrapper{  
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1024' height='3500' preserveAspectRatio='none' viewBox='0 0 1024 3500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3cpath d='M208.12 1074.78 a339.91 339.91 0 1 0 679.82 0 a339.91 339.91 0 1 0 -679.82 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M507.49 1360.75 a247.59 247.59 0 1 0 495.18 0 a247.59 247.59 0 1 0 -495.18 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M183.22 2628.09 a289.95 289.95 0 1 0 579.9 0 a289.95 289.95 0 1 0 -579.9 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1122.834%2c975.974C1215.884%2c982.586%2c1327.195%2c988.668%2c1375.108%2c908.628C1423.635%2c827.562%2c1366.661%2c731.274%2c1317.674%2c650.486C1271.218%2c573.872%2c1212.364%2c496.085%2c1122.834%2c492.586C1028.497%2c488.899%2c942.779%2c550.143%2c899.699%2c634.15C859.927%2c711.706%2c878.21%2c803.719%2c925.853%2c876.704C968.93%2c942.695%2c1044.226%2c970.388%2c1122.834%2c975.974' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M330.736%2c914.526C368.093%2c914.511%2c407.746%2c901.665%2c424.521%2c868.286C440.22%2c837.049%2c420.532%2c802.629%2c401.812%2c773.104C384.881%2c746.4%2c362.333%2c721.559%2c330.736%2c720.371C297.307%2c719.114%2c267.684%2c739.143%2c249.759%2c767.388C230.271%2c798.096%2c219.282%2c836.501%2c236.818%2c868.364C254.845%2c901.119%2c293.348%2c914.541%2c330.736%2c914.526' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M370.23 1865.88 a252.38 252.38 0 1 0 504.76 0 a252.38 252.38 0 1 0 -504.76 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M649.712%2c376.62C720.964%2c378.39%2c796.738%2c363.788%2c835.519%2c303.988C877.304%2c239.556%2c876.257%2c154.564%2c836.212%2c89.036C797.707%2c26.028%2c723.552%2c-0.544%2c649.712%2c-0.057C576.842%2c0.424%2c503.872%2c28.365%2c467.428%2c91.47C430.978%2c154.586%2c439.978%2c233.727%2c479.235%2c295.137C515.594%2c352.014%2c582.228%2c374.944%2c649.712%2c376.62' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M282.762%2c3088.65C312.179%2c3089.785%2c337.972%2c3070.967%2c353.088%2c3045.705C368.665%2c3019.673%2c375.3%2c2986.68%2c359.141%2c2961.005C343.723%2c2936.506%2c311.704%2c2933.402%2c282.762%2c2933.962C255.103%2c2934.497%2c225.156%2c2939.9%2c211.335%2c2963.864C197.521%2c2987.815%2c207.514%2c3016.621%2c221.249%2c3040.617C235.101%2c3064.816%2c254.9%2c3087.575%2c282.762%2c3088.65' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1024' height='3500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    }
}

@media (max-width: 650px) {

    .projects_wrapper{ 
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='650' height='3550' preserveAspectRatio='none' viewBox='0 0 650 3550'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3cpath d='M41.79 3075.18 a213.76 213.76 0 1 0 427.52 0 a213.76 213.76 0 1 0 -427.52 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M138.38 1587.54 a210.7 210.7 0 1 0 421.4 0 a210.7 210.7 0 1 0 -421.4 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M450.77 530.67 a152.49 152.49 0 1 0 304.98 0 a152.49 152.49 0 1 0 -304.98 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M353.106%2c3000.343C396.932%2c3000.025%2c425.97%2c2959.9%2c447.083%2c2921.494C467.201%2c2884.896%2c479.211%2c2842.583%2c460.298%2c2805.348C439.684%2c2764.762%2c398.615%2c2737.499%2c353.106%2c2736.47C305.836%2c2735.401%2c258.886%2c2758.301%2c237.172%2c2800.302C216.807%2c2839.694%2c234.502%2c2884.506%2c256.738%2c2922.873C278.888%2c2961.092%2c308.933%2c3000.663%2c353.106%2c3000.343' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M44.18 3355.72 a202.4 202.4 0 1 0 404.8 0 a202.4 202.4 0 1 0 -404.8 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M371.71 1444.58 a175.89 175.89 0 1 0 351.78 0 a175.89 175.89 0 1 0 -351.78 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M551.05%2c1296.602C593.201%2c1296.298%2c619.654%2c1254.992%2c638.315%2c1217.196C654.473%2c1184.47%2c657.073%2c1147.675%2c640.683%2c1115.064C622.288%2c1078.465%2c591.958%2c1045.671%2c551.05%2c1043.568C506.989%2c1041.303%2c463.987%2c1065.669%2c443.894%2c1104.947C425.2%2c1141.49%2c441.548%2c1182.643%2c461.579%2c1218.47C482.289%2c1255.511%2c508.613%2c1296.908%2c551.05%2c1296.602' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M605.872%2c689.085C672.093%2c692.361%2c747.962%2c692.153%2c783.812%2c636.379C821.557%2c577.658%2c799.584%2c502.411%2c764.744%2c441.921C729.826%2c381.297%2c675.826%2c326.416%2c605.872%2c327.44C537.184%2c328.445%2c486.159%2c385.309%2c454.856%2c446.457C426.576%2c501.7%2c423.224%2c567.475%2c456.018%2c620.164C487.157%2c670.193%2c547.016%2c686.174%2c605.872%2c689.085' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M117.83 215.9 a170.64 170.64 0 1 0 341.28 0 a170.64 170.64 0 1 0 -341.28 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M399.611%2c2090.433C427.107%2c2091.958%2c459.098%2c2091.018%2c473.149%2c2067.334C487.359%2c2043.383%2c474.787%2c2013.503%2c458.766%2c1990.724C445.319%2c1971.604%2c422.985%2c1963.026%2c399.611%2c1962.772C375.692%2c1962.512%2c350.855%2c1969.124%2c338.186%2c1989.413C324.849%2c2010.771%2c325.884%2c2038.375%2c338.966%2c2059.89C351.57%2c2080.618%2c375.389%2c2089.089%2c399.611%2c2090.433' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M447.82 2973.3 a189.46 189.46 0 1 0 378.92 0 a189.46 189.46 0 1 0 -378.92 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M128.61 2695.22 a173.43 173.43 0 1 0 346.86 0 a173.43 173.43 0 1 0 -346.86 0z' fill='rgba(171%2c 104%2c 100%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='650' height='3550' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    }

    .projects_top_text_container{
        text-shadow: 4px 4px rgb(160, 139, 139);
    }
    
    
    .projects_h1 {
        font-size:4rem;
        letter-spacing: .4rem;
        
    }
    .project_two_container {
        
        width: 90vw;
        height: auto;
        
        
    }
    .project_one_container {
        width: 90vw;

    }

    .projects_text_container1{
        width: 90vw;
        
    }
    
    .projects_text_container2{
        width: 90vw;
    }


}

@media (max-width: 400px) {

    .projects_top_text_container{
        text-shadow: 3.5px 3.5px rgb(160, 139, 139);
    }
    
    
    .projects_h1 {
        font-size:3rem;
        letter-spacing: .3rem;
        
    }

    .projects_intro_container{
        padding: 2% 2%;
        
    }

    .img{
        width: 250px;
        height: 250px;
    }

    .img_wrapper{
        display: flex;
        width: 250px;
        height: 250px;
        margin-right: 0%;

    }
}

@media (max-width: 315px) {
    .projects_top_text_container{
        text-shadow: 3px 3px rgb(160, 139, 139);
    }
    
    
    .projects_h1 {
        font-size:2.5rem;
        letter-spacing: .2rem;
        
    }

}