@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400&display=swap');

@import url("https://use.typekit.net/fng0mtw.css");
/* font-family: brother-1816, sans-serif;
font-weight: 700;
font-style: normal; */

.background_wrapper{
    margin: 0 5vw;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='2000' preserveAspectRatio='none' viewBox='0 0 1440 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1122%26quot%3b)' fill='none'%3e%3cpath d='M1471.229%2c2572.093C1625.425%2c2565.027%2c1739.959%2c2445.053%2c1814.71%2c2310.002C1886.631%2c2180.064%2c1921.229%2c2023.367%2c1845.744%2c1895.467C1771.249%2c1769.245%2c1617.767%2c1730.888%2c1471.229%2c1728.017C1318.073%2c1725.016%2c1154.209%2c1752.049%2c1070.405%2c1880.277C979.73%2c2019.018%2c985.431%2c2200.785%2c1068.521%2c2344.197C1151.396%2c2487.237%2c1306.088%2c2579.661%2c1471.229%2c2572.093' fill='rgba(189%2c 137%2c 121%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M466.55 1913.87 a313.49 313.49 0 1 0 626.98 0 a313.49 313.49 0 1 0 -626.98 0z' fill='rgba(189%2c 137%2c 121%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1236.4838538753852-78.01456142261615L1127.4206503684402 89.92804449910798 1433.866161004499 169.55154679866322z' fill='rgba(189%2c 137%2c 121%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M915.75 1429.93 a251.63 251.63 0 1 0 503.26 0 a251.63 251.63 0 1 0 -503.26 0z' fill='rgba(189%2c 137%2c 121%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M660.45 223.35 a298.04 298.04 0 1 0 596.08 0 a298.04 298.04 0 1 0 -596.08 0z' fill='rgba(189%2c 137%2c 121%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1236.303517243869 875.082430501162L1166.4871207273152 702.2807853301401 942.1928512290592 893.4062026904819z' fill='rgba(189%2c 137%2c 121%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M198.0882184313926 1261.4573064945935L674.9127600262067 1337.4447885756133 530.553153203527 940.8200285489545z' fill='rgba(189%2c 137%2c 121%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-299.25 611.84 a301.91 301.91 0 1 0 603.82 0 a301.91 301.91 0 1 0 -603.82 0z' fill='rgba(189%2c 137%2c 121%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1122'%3e%3crect width='1440' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.text_wrapper{
    display: flex;
    flex-direction: column;
    margin: 6rem 10vw;
    padding: 5%;
    background-color: rgba(236, 236, 236, 0.25);
    
}

.header{
    display: flex;
    flex-direction: column;
   
    
}


.h2{
    font-family: "Space Mono";
    font-size: 3rem;;
    letter-spacing: .3rem;
    text-align: center;
    text-shadow: 2px 2px rgb(141, 139, 139);
}

.h_all, .header_h3, .h_all_bottom{
    font-family: brother-1816, sans-serif;
    font-weight: 700;
    text-shadow: .5px .5px rgb(141, 139, 139);
    
}

.header_h3{
    font-size: 1.4rem;
    background-color: rgba(221, 208, 214, 0.35);
    border-radius: 3%;
}

.h_all{
    font-size: 1.2rem;
    
}

.h_all_bottom{
    font-style: oblique;
    font-size: 1.1rem;
}

.text{
    font-family: monospace, serif;  
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-shadow: 1px 1px rgb(160, 139, 139);
}

.header_text{
    font-family: monospace, serif;
    text-shadow: .5px .5px rgb(141, 139, 139);
    
}