@import url("https://use.typekit.net/fng0mtw.css");
  /* font-family: filmotype-kitten,sans-serif;
  font-weight: 400;
  font-style: normal; */

  /* font-family: filmotype-maxwell, sans-serif;
  font-weight: 400;
  font-style: normal; */

  /* font-family: synthemesc, sans-serif;
  font-weight: 400;
  font-style: normal; */

  /* font-family: pill-gothic-600mg, sans-serif;
  font-weight: 700;
  font-style: normal; */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap');
  /*font-family: 'Space Mono', monospace; */
    /* font-weight: 700;
    font-style: normal; */

    /*font-family: 'Space Mono', monospace; */
    /* font-weight: 600;
    font-style: italic; */


  

* {
  font-family: filmotype-kitten,sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: filmotype-maxwell, sans-serif;
  font-weight: 400;
  font-style: normal;
  
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;

  font-family: 'Space Mono', monospace;
  font-weight: 600;
  font-style: italic;

  font-family: synthemesc, sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: pill-gothic-600mg, sans-serif;
  font-weight: 700;
  font-style: normal;



 
  
}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
